<section class="home">
  <section class="second-Section" id="secondSection" >
    <div class="card-group cards">
      <div class="leftimg">
        <img class="loanimg" src="../../assets/Typewriter-bro.png" alt="Card image cap">
      </div>
          <div class="card-body firstBody">
            <h2 class="card-title">Book Loan</h2>
            <p class="card-text">Create loans for the customer just by clicking the button</p>
            <button type="button" style="background-color: #223B77; border-color: #223B77;"class="btn btn-primary" [routerLink]="['/create']" routerLinkActive="router-link-active"  >Create</button>
          </div>
        </div>
        
</section>
 <!-- <div class="line-containers">
  <svg viewBox="0 0 439 972" preserveAspectRatio="xMidYMax meet" fill="none">
      <path id="paths" class="paths"  d="M250 0.5V291L153.5 269.5L112.5 336.5C133.833 358 178.1 402.2 184.5 407C192.5 413 256.5 375 269 391C281.5 407 305.5 440 302 480.5C298.5 521 231.5 586.5 220.5 586.5C209.5 586.5 153 525 137.5 528.5C122 532 61.5 472 78.5 577C95.5 682 -141 769.5 137.5 682C416 594.5 463 516.5 428.5 630.5C394 744.5 437.5 819.5 348.5 799C277.3 782.6 178.167 758.833 137.5 749L166 963M166 963L153.5 971C97.5 933 -4.1 867.6 37.5 910C79.1 952.4 176.833 943.333 220.5 933.5L234.5 971L166 963Z" fill="none" stroke-width="1"  stroke="black" stroke-linecap="round"></path><defs><linearGradient id="SvgjsLinearGradient1000"><stop stop-color="hsl(37, 99%, 67%)" offset="0"></stop><stop stop-color="hsl(316, 73%, 52%)" offset="1"></stop></linearGradient></defs></svg>    
</div>  -->
<section class="third-Section" id="thirdSection">
  <div class="card-group cards">
    <div class="card-body secondbody">
      <h2 class="card-title">loan History</h2>
      <p class="card-text">Create loans for the customer just by clicking the button</p>
      <button type="button" style="background-color: #223B77; border-color: #223B77;" class="btn btn-primary"  routerLinkActive="router-link-active" ><a href="/loanDetails#table" style="color:white ;" >History</a></button>
    </div>
    <div class="rightimg">
      <img class="historyimg" src="../../assets/Financial data-bro.png" alt="Card image cap">
    </div>
</div>
<!-- <button style="margin-left: 20px;" href="/welcome" class="btn btn-primary"><a href="/welcome#firstPage" style="color:white ;" >top</a></button> -->

</section>
<section class="space" style="height: 500px; margin-left: 870px; margin-top: 232px; justify-content: center;">
  <button type="button" style="background-color: white;width: 150px; border-radius: 20px; border-width: 0.19em; border-color: #223B77; " class="btn btn-primary" ><a href="/welcome#firstPage" style="color: #223B77;" >Top</a></button>
  
  <!-- <a href="/welcome#firstPage" ><i style="margin-top: 200px;" class='bx bx-up-arrow-circle topIcon'></i></a> -->

</section>
</section>

 


