button{
    border: none;
    border-radius: 0px;
    background-color: #3366ff;
}
button:hover{
    background-color: var(--sidebar-color);
    color: #3366FF;
}
.loanBody{
    padding: 100px;
    background-color: #18191a;
}

.pagination{
    display: flex;
    color: white;
}

section{
    height: 140vh;
    background-color: #333;
    text-align: center;
    border-radius: 10px;
}

.table-responsive{
    position: absolute;
    top:200px;
    width: 1200px;
    left:300px;
}

.Head{
    position: absolute;
    top:1%;
    left: 40%;
    color: var(--text-color);
}
.table{
    background-color:#18191a ;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    color: white;
}

@media(max-width:1000px) {
    .pagination{
        width: 300px;
    }
}