<section class="fristSec">
    <div class="container">
    <div class="content">
        <font >Loan</font>
        <font >Management</font>
    <br>
    <h6 class="words"> Creating,History,Schedule,Payment!!</h6>
    <br>
    </div>
    </div>
    <svg viewBox="0 0 400 632" preserveAspectRatio="xMidYMax meet" fill="none">
        <path d="M152.5 0.5V243.5V348.5C92.342 300.989 59.3713 304.652 1.5 348.5C46.2751 408.921 81.3312 413.851 152.5 397.5C229.758 418.779 257.868 403.261 293 348.5C231.313 328.31 198.068 322.689 152.5 371V539V688" fill="none" stroke-width="1" stroke="url(&quot;#SvgjsLinearGradient1000&quot;)" stroke-linecap="round"></path><defs><linearGradient id="SvgjsLinearGradient1000"><stop stop-color="hsl(37, 99%, 67%)" offset="0"></stop><stop stop-color="hsl(316, 73%, 52%)" offset="1"></stop></linearGradient></defs></svg>   
</section>
<br><br><br><br><br><br><br><br>
<section></section>
<app-home></app-home>

    

    



