.text-center{
    text-align: center;
    color:#223B77;
    font-family: 'Kalam', cursive;
    font-weight: 400;
    font-size: 1.5em;
}
.example-container{
    text-align: left;
    width: 300px;
}
.d-flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mat-form-field{
    width: 100%;
}
.mt-top{
    margin-top: 30px;
}
.mt-top-2{
    margin-top: 10px;
}

.login{
    justify-content: center;
        background-color:white;
        display: flex;
        align-items: center;
        height: 100%;
        margin-top: 100px;
        border-radius: 10px;  
}
.home-img{
    width: 700px;
    margin-left: 100px;

}

.text-section.image-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    column-gap: 1px;
    line-height: 1;
}
