<nav class="sideBar">
    <a >
        <span class="inner">
            <span class="content">Menu</span>
        </span>
        <span class="inner" aria-hidden="true">
            <span class="content">Menu</span>
        </span>

        <span class="icon">
            <svg viewBox="0 0 24 24" >
                <path class="patho" d="M12 20V4M5 13L12 20L19 13" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg> 
        </span>
    </a>

    <section class="dropdown">
        <ul>
            <li><a class="menus" href="#">home</a></li>
            <li ><a  class="menus">Create Loan</a></li>
            <li><a  class="menus" href="#">Loan History</a></li>
            <li><a  class="menus" href="#">Log Out</a></li>
        </ul>
    </section>
</nav>
